.hourly-container {
  margin-bottom: 0.5rem;
}

.dropdown-btn {
  margin-bottom: 2rem;
  padding: 2rem;
  color: white;
  font-weight: 700;
  width: 100%;
  background-color: #92c0db !important;
  border: none !important;
}

.dropdown-btn:focus {
  box-shadow: none !important;
}

.dropdown-btn-signal {
  font-size: 30px;
  position: absolute;
  top: 16px;
  padding-left: 5px;
}

.chart-container {
  padding: 0;
  display: inline;
}
