.page-number {
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  border: 1px solid rgba(255, 255, 255, 0.658);
  color: white;
  height: 4rem;
  line-height: 3.7rem;
  font-size: 2.3rem;
}

.page-number:hover {
  background-color: rgba(255, 255, 255, 0.658);
  color: #92C0DB;
}


.page-numbers {
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  background-color: #92C0DB;
  height: 4rem;
  border-radius: 15px;
}

.brewery-list-group {
  background-color: transparent !important;
  /* margin-top: 4rem; */
  height: 100%;
  display: block;
  margin-bottom: 3rem;
}

.brewery-header {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.brewery-card {
  padding: 2rem !important;
}

.brewery-distance {
  text-align: center;
}

.dropdown-btn {
  padding: 1rem !important;
}

.page-container {
  background-color: #F1FBFC;
}
