.page-number {
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  border: 1px solid black;
}

.page-number:hover {

  background-color: beige;
}


.page-numbers {
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  background-color: aquamarine;
}
