html,
body {
  height: 100%;
  position: relative;
}
#root {
  height: auto !important;
  min-height: 100%;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 60px; /* height of your footer */
  background-color: #f1fbfc;
  background-color: #f1fbfc;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.app {
  background-color: #f1fbfc;
  background-color: #f1fbfc;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

p {
  color: gray;
}

.jumbotron-search {
  /* position: relative; */
  padding: 0 !important;
}

.jumbotron {
  background-image: url("./assets/altitude-cable-car-clouds-919931.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #757575;
  font-family: "Patua One", cursive;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 87%);
  margin-bottom: 0 !important;
}

@media only screen and (max-device-width: 736px) {
  .jumbotron {
    background-image: url("./assets/altitude-cable-car-clouds-919931.jpg");
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #757575;
    font-family: "Patua One", cursive;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 87%);
    margin-bottom: 0 !important;
  }

  .search-header {
    font-size: 2rem !important;
  }
}

.search-container {
  padding-bottom: 1rem;
  position: absolute;
  /* top: -30vh; */
}

.search-header {
  font-size: 3rem;
}

.auto-complete {
  width: 90%;
  margin-right: 0;
  padding: 0.7rem;
  border: 1px solid #757575;
  border-radius: 5px;
}

.place-holder {
  color: gray;
  font-weight: normal;
  margin-top: 5px;
  margin-left: 1.25rem;
  font-family: "Maven Pro", sans-serif;
}

.search,
.ski-and-beer {
  height: 100%;
  margin-bottom: 4rem;
}

.form-control {
  font-family: "Maven Pro", sans-serif;
}

.col-12 {
  max-width: 100%;
  padding-bottom: 1rem;
  color: #92c0db;
}

.card-header {
  background-color: transparent !important;
  font-family: "Patua One", cursive;
}

h5 {
  margin-right: 2rem;
}

.list-item {
  border-width: 1px 1px 1px 1px;
  border-color: rgba(90, 122, 190, 0.14);
  border-radius: 8;
  border-style: solid;
  box-shadow: 0px 3px 0px 0px rgba(90, 122, 190, 0.2); /* hover styles */
  border-style: solid;
  box-shadow: 0px 10px 20px 0px rgba(90, 122, 190, 0.15);

  border-radius: 10px;
  margin-top: 2rem;
  /* position: relative; */
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-heading {
  font-family: "Patua One", cursive;
}

.list-group-item-text {
  font-family: "Maven Pro", sans-serif;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #92c0db;
  font-size: x-large;
  font-weight: 500;
  font-family: "Patua One", cursive;
}

/* list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
} */

.btn {
  background-color: #fff;
  padding: 4rem;
  font-family: "Maven Pro", sans-serif;
  transition: all 4s;
}

/* .btn:hover {
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(-1px);
} */

.dropdown-btn {
  margin: 0;
}

.card-text {
  font-family: "Maven Pro", sans-serif;
}

.offseason-warning {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  background-color: lightslategray;
  padding: 2rem 0.5rem;
  border-radius: 10px;
  font-family: "Patua One", cursive;
}
